.Header{
    position: fixed;
    min-width: 100%;
    padding: 6px;
    font-size: 22px;
    background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 821px){
    .Header{
        opacity: 1;
        z-index: 51;
    }
}

.Header ul{
    padding: 0px;
    margin: 0;    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.NavLink{
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
    padding: 6px 24px;
    color: rgba(255, 255, 255, 0.7);
    transition: .4s linear;
}

.NavLink.active{
    font-size: 22px;
    box-shadow: 0px 8px 6px -6px greenyellow;
}


.mobileMenuClass{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    padding: 6px;
    opacity: 0;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100vh;
    border-radius: 5px;
    background-color: black;
    box-shadow: 0px 0px 20px 20px black;
}

.mobileMenuClass ul{
    padding: 0px;
    margin-top: 100px;
    width: 100%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
.mobileMenuClass .NavLink{
    border: 1px solid orangered;
    background-color: rgb(10, 10, 10);
    padding: 10px;
    margin: 20px 0px;
    width: 90%;
    border-radius: 5px;
    color: white;
    transition: .4s linear;
}

.mobileMenuClass .NavLink.active{
    font-size: 26px;
    background-color: black;
    box-shadow: 0 0 5px 2px orangered;
}

.mobileMenuClass .NavLink:hover{
    background-color: orangered;
}

@media (max-height: 800px){
    .mobileMenuClass{
        padding: 0px;
        width: 80%;
    }
    .mobileMenuClass ul{
        margin: 0 10px;
    }
    .mobileMenuClass .NavLink{
        padding: 0px;
        margin: 10px 0px;
    }
}
