.elem h2{
    font-size: 54px;
    margin: 80px 0px;
}

.elem p{
    margin-bottom: 200px;
}

.elem video{
    box-shadow: 0px 0px 20px 10px black;
    margin: auto;
    width: 60%;
}

@media (max-width: 600px) and (max-height: 1000px){
    .elem h2{
        font-size: 40px;
        margin: 20px 0px;
    }

    .elem p{
        margin-bottom: 50px;
        padding: 0px;
    }

    .elem video{
        width: 90%;
    }
}