.About{
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.7)), url('../../resources/img/info_bgc.png');
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .4s linear;
    transition: .4s linear;
    padding-bottom: calc(10vh + 200px);
}
