.fade-enter{
    height: 0;
    opacity: 0;
}

.fade-enter-active, .fade-enter-done{
    margin: auto;
    max-width: 1200px;
    background-color: white;
    opacity: 1;
    padding: 50px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 150%;
    height: auto;
    margin-bottom: 100px;
    box-shadow: 0px 0px 50px 2px white;
}
.fade-enter-active{
    transition: opacity .6s ease, height .6s ease;
}

.fade-exit{
    opacity: 1;
    padding: 50px;
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 150%;
    height: auto;
    margin-bottom: 100px;
    box-shadow: 0px 0px 50px 2px white;  
}

.fade-exit-active{
    opacity: 0;
    padding: 0px;
    font-size: 0px;
    height: 0;
    margin-bottom: 0px;
    transition: opacity .6s ease, height .6s ease;
}

@media (max-width: 600px) and (max-height: 1000px){
    .fade-enter-active, .fade-enter-done{
        padding: 20px;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 1.2px;
    }
}