.toggler{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 6px;
    top: 5%;
    right: calc(5% + 22px);
    width: 36px;
    height: 36px;
    border-radius: 5px;
    background-color: rgba(255, 60, 0, 0.9);
    box-shadow: 0px 0px 5px 5px rgba(255, 60, 0, 0.9);
    cursor: pointer;
}

@media (max-width: 820px){
    .toggler{
        z-index: 51;
        opacity: 1;
    }
}

.mobile-menu-enter{
    z-index: 0;
    opacity: 0;
}

.mobileMenu-enter-done{
    opacity: 1 !important;
    z-index: 50;
    transition: opacity .8s;
}

.mobileMenu-exit{
    z-index: 50;
    opacity: 1 !important;
}

.mobileMenu-exit-done{
    z-index: 0;
    opacity: 0 !important;
    transition: opacity .8s, z-index .8s;
}

.mobileMenuToggler-enter{
    z-index: 0;
    opacity: 0 !important;
}

.mobileMenuToggler-enter-done{
    opacity: 1 !important;
    z-index: 51;
    transition: opacity .8s;
}

.mobileMenuToggler-exit{
    z-index: 51;
    opacity: 1 !important;
}

.mobileMenuToggler-exit-done{
    z-index: 0 !important;
    opacity: 0 !important;
    transition: opacity .8s, z-index .8s;
}



